/* COMPONENTE BOTÓN DE DESCUENTO */

.bg-light {
  background-color: #f8f9fa;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
