/* InstagramButton.css */
.instagram {
  position: fixed;
  bottom: 100px; /* Ajusta la posición del botón según lo necesites */
  right: 20px;
  z-index: 1000;
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.instagram:hover {
  transform: scale(1.3); /* Efecto de aumento de tamaño al pasar el ratón */
}
