/* BOTON DE INSTAGRAM */

.instagram {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #e1306c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.8s ease;
}

.instagram:hover {
  transform: scale(1.3);
}
