/* FacebookButton.css */
.facebook {
  position: fixed;
  bottom: 180px; /* Ajusta la posición para que no se superponga con los otros botones */
  right: 20px;
  z-index: 1000;
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.facebook:hover {
  transform: scale(1.3); /* Efecto de aumento de tamaño al pasar el ratón */
}
