/* PAGINA DE "HOME" */

/* Fondo marrón en el inicio*/

.bg-brown {
  background: #5b3a29;
}

/* Resaltando las palabras con colores*/

.highlight-css {
  background-color: red; /* Color del resaltador */
  padding: 0 5px; /* Espaciado alrededor del texto */
  border-radius: 3px; /* Redondeado de bordes opcional */
  color: black;
}

.highlight-titulo-css {
  background-color: white; /* Color del resaltador */
  padding: 0 10px; /* Espaciado alrededor del texto */
  border-radius: 3px; /* Redondeado de bordes opcional */
}

.highlight-subtitulo-css {
  background-color: yellow; /* Color del resaltador */
  padding: 0 10px; /* Espaciado alrededor del texto */
  border-radius: 3px; /* Redondeado de bordes opcional */
}

.highlight-producto-css {
  background-color: black; /* Color del resaltador */
  padding: 0 5px; /* Espaciado alrededor del texto */
  border-radius: 3px; /* Redondeado de bordes opcional */
  color: white;
}

/* Titulo más grande */
.titulo-grande-css {
  font-weight: 700;
  color: black;
}

/*Fondo en la sección de las fotos con Nuestros Productos */

.section-bg-css {
  background-color: #f8f9fa; /* Gris personalizado */
  padding: 20px; /* Opcional, para darle más espacio */
}

.section-bg2-css {
  background-color: #e9ecef; /* Gris personalizado */
  padding: 20px; /* Opcional, para darle más espacio */
}
